@use 'variables';
@use 'mixins';

$selector : '.detail';

// ** CartItemComponent
#{$selector} {
  width: 80%;
  margin: 40px auto;
  background: variables.$gray-light;
  padding: 30px;
  &__container {
    padding: 0 10px 10px 10px;
    background: variables.$white-light;
    margin: 4px 0;
  }

  &__item {
    @include mixins.make-flexbox(space-between);
    border-bottom: 2px solid #ccc;
    padding: 15px 0;
  }

  &__figure {
    @include mixins.make-flexbox(space-between);
    height: 90px;
    img {
      height: 100%;
      width: 120px;
    }
    h4 {
      text-transform: capitalize;
      margin-left: 10px;
    }
  }
  &__actions {
    @include mixins.make-flexbox(space-between);
    
    button {
      margin: 0 6px;
    }
  }
  &__item-total {
    font-weight: bolder;
  }

  &__total {
    font-size: 20px;
    font-weight: bolder;
    margin: 15px 0;
  }
}