@use 'variables';
@use 'mixins';

$selector : '.nav';

// ** Navigation
#{$selector} {
    background: variables.$primary-color;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 999;
    &__container {
        width: 90%;
        margin: 0 auto;
        list-style: none;
        @include mixins.make-flexbox(space-between);
        height: 50px;
    }
    &__item {
        @include mixins.make-flexbox();
        span {
            color: white;
            font-weight: bold;
        }
    }
    &__link {
        text-decoration: none;
        color: #fff;
        display: inline-block;
        height:30px;
        img {
            width: 100%;
            height: 100%;
            filter: brightness(8);
        }
        margin: 0 9px;
    }
}